# Is not work.
http {
    server {
        listen          ${NGINX_PORT};
        server_name     ${NGINX_HOST};
        root            /app;
        charset         UTF-8

        location / {

        }
    }
}
